In [1]:
import numpy as np
import pandas as pd
import os

# Load Data + Calculate Payoffs

In [2]:
def load_csv(filename, skip_rows):
    df = pd.read_csv(filename, skiprows=skip_rows, header=0)
    df.drop(df.columns[0], axis=1, inplace=True)
    return df

def calculate_avg(df): # prints dataframe to check
    df_even = df.iloc[:, 0::6]
    display(df_even)
    even_row_avg = df_even.iloc[-1].mean()
    print('AVG Cumulative Profit of retailer 0:', even_row_avg)
    
    df_odd = df.iloc[:, 3::6]
    display(df_odd)
    odd_row_avg = df_odd.iloc[-1].mean()
    print('AVG Cumulative Profit of retailer 1:', odd_row_avg)

def calculate_payoffs(df):
    retailer_0 = df.iloc[:, 0::6]
    retailer_0_payoff = round(retailer_0.iloc[-1].mean(), 2)
    
    retailer_1 = df.iloc[:, 3::6]
    retailer_1_payoff = round(retailer_1.iloc[-1].mean(), 2)
    return (retailer_0_payoff, retailer_1_payoff)

def get_column_dominant(lst):
    payoffs = [eval(s)[1] for s in lst]
    max_payoff = max(payoffs)
    dominant_index = payoffs.index(max_payoff)
    opponent_payoff = lst[dominant_index].strip('[').split(',')[0]
    dominant_str = f'[{opponent_payoff}, {max_payoff}*]'
    return (dominant_index, dominant_str)

def get_row_dominant(lst):
    payoffs = [float(s.strip('[').split(',')[0]) for s in lst]
    max_payoff = max(payoffs)
    dominant_index = payoffs.index(max_payoff)
    opponent_payoff = lst[dominant_index].strip(']').split(', ')[1]
    dominnant_str = f'[{max_payoff}*, {opponent_payoff}]'
    return (dominant_index, dominnant_str)

def calculate_avg(p1, p2):
    avg_1 = round((p1[0] + p2[0])/2, 2)
    avg_2 = round((p1[1] + p2[1])/2, 2)
    return (avg_1, avg_2)
    
def construct_payoff_table():
    columns = ['E1', 'E2', 'E3']
    payoffs = [['x' for y in range(3)] for x in range(3)]
    
    # generate payoff table
    for i in range(1, len(payoffs)+1):
        for j in range(1, len(payoffs)+1):
            filename = f'./experiment_data/E{i}_E{j}.csv'
            filename_2 = f'./experiment_data/E{i}_E{j}_2.csv'
            if os.path.isfile(filename):
                df = load_csv(filename, 30)
                payoff = calculate_payoffs(df)
                payoff_str = ''
                if os.path.isfile(filename_2):
                    print('found:', filename_2)
                    df_2 = load_csv(filename_2, 30)
                    payoff_2 = calculate_payoffs(df_2)
                    (avg_1, avg_2) = calculate_avg(payoff, payoff_2)
                    payoff_str = f'[{avg_1}, {avg_2}]'
                else:
                    payoff_str = f'[{payoff[0]}, {payoff[1]}]'
                payoffs[i-1][j-1] = payoff_str
    
    # mark dominant strategies in retailer 1's perspective
    for i in range(0, len(payoffs)):
        cur_row = payoffs[i]
        (dominant_index, dominant_str) = get_column_dominant(cur_row)
        payoffs[i][dominant_index] = dominant_str
    
    # mark dominant strategies in retailer 0's perspective
    for i in range(0, len(payoffs)):
        cur_column = [row[i] for row in payoffs]
        (dominant_index, dominant_str) = get_row_dominant(cur_column)
        payoffs[dominant_index][i] = dominant_str

    # convert to dataframe
    table = pd.DataFrame(payoffs, columns=columns)
    table = table.rename(index={0: 'E1', 1: 'E2', 2: 'E3'})
    display(table)

In [3]:
construct_payoff_table()

found: ./experiment_data/E1_E1_2.csv
found: ./experiment_data/E1_E2_2.csv
found: ./experiment_data/E1_E3_2.csv
found: ./experiment_data/E2_E1_2.csv
found: ./experiment_data/E2_E2_2.csv
found: ./experiment_data/E2_E3_2.csv
found: ./experiment_data/E3_E1_2.csv
found: ./experiment_data/E3_E2_2.csv
found: ./experiment_data/E3_E3_2.csv

                         E1                        E2                       E3
E1    [230781.89, 215359.8]  [224372.12*, 234796.22*]  [226909.36*, 218075.52]
E2   [224376.42, 221429.61]   [221349.21, 246289.55*]   [218845.53, 245735.76]
E3  [231871.12*, 231231.06]    [204089.82, 245716.4*]   [224080.71, 229737.96]

# E1_E1

In [4]:
E1_E1 = load_csv('./experiment_data/E1_E1.csv', 30)
E1_E1

,[ cumulative-profit ] of retailer 0,[ market-share ] of retailer 0,[ price ] of retailer 0,[ cumulative-profit ] of retailer 1,[ market-share ] of retailer 1,[ price ] of retailer 1,[ cumulative-profit ] of retailer 0.1,[ market-share ] of retailer 0.1,[ price ] of retailer 0.1,[ cumulative-profit ] of retailer 1.1,...,[ price ] of retailer 0.2,[ cumulative-profit ] of retailer 1.2,[ market-share ] of retailer 1.2,[ price ] of retailer 1.2,[ cumulative-profit ] of retailer 0.3,[ market-share ] of retailer 0.3,[ price ] of retailer 0.3,[ cumulative-profit ] of retailer 1.3,[ market-share ] of retailer 1.3,[ price ] of retailer 1.3
0,0.000000,42,34.500000,0.000000,38,34.500000,0.000000,45,34.500000,0.000000,...,34.500000,0.000000,43,34.500000,0.000000,42,34.500000,0.000000,38,34.500000
1,189.000000,42,35.151129,171.000000,38,34.495942,202.500000,45,35.459570,157.500000,...,34.290621,193.500000,43,35.014380,189.000000,42,35.431676,171.000000,38,34.257481
2,189.000000,41,35.151129,171.000000,39,34.495942,202.500000,43,35.459570,157.500000,...,34.290621,193.500000,40,35.014380,189.000000,41,35.431676,171.000000,39,34.257481
3,240.511285,41,35.151129,202.471592,39,34.495942,235.257419,43,35.459570,182.956923,...,34.290621,238.629419,40,35.014380,221.590057,41,35.431676,188.029923,39,34.257481
4,266.266928,41,35.151129,229.447243,39,34.495942,257.095698,43,35.459570,199.928205,...,34.290621,258.686939,40,35.014380,259.611790,41,35.431676,213.574808,39,34.257481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,277354.667795,41,42.043859,237170.157420,39,41.528243,236512.771217,42,41.984038,186713.827049,...,42.946507,278731.415768,43,42.552575,226841.394474,37,44.378748,222904.871588,41,42.403884
1996,277559.413399,41,42.043859,237366.137549,39,41.528243,236740.467946,42,41.984038,186919.283922,...,42.868721,278932.256965,43,42.552575,226999.560701,33,44.378748,223103.333728,40,42.403884
1997,277764.159003,41,42.043859,237516.004706,39,41.528243,236944.196598,42,41.984038,187007.336867,...,42.868721,279183.308460,41,42.552575,227172.105677,36,44.378748,223301.795867,40,42.403884
1998,277764.159003,41,42.043859,237516.004706,39,41.528243,236944.196598,42,41.984038,187007.336867,...,42.868721,279183.308460,43,42.552575,227172.105677,39,44.378748,223301.795867,41,42.403884
1999,278017.080043,40,42.043859,237769.626048,39,41.272680,237135.941212,42,41.984038,187183.442757,...,42.868721,279421.807381,42,42.552575,227373.408148,33,44.378748,223512.661891,41,42.403884